#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-product {
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 15px 15px 65px 15px;
  width: calc(50% - 0.75rem);
  height: 9.9rem;
  padding: 1.5rem;
  @media (min-width: 578px) {
    width: calc(33% - 0.9rem);
  }
  @media (min-width: 768px) {
    width: calc(25% - 1.125rem);
  }
}
